	<p align="center"><b> Your small help can make a big difference!</b> </p>
	<div class="row">
		<div class="col-md-4", align="center">
		<%= image_tag("health.jpg", style: 'height:60%;width:60%;') %>
		<p> <b><%= link_to 'HEALTH', healthy_index_path %> </b></p>
		</div>
		
		<div class="col-md-4", align="center">
		<%= image_tag("edu.png", style: 'height:60%;width:60%;') %>
		<p> <b> <%= link_to 'EDUCATION', teaches_path %> </b></p>
		</div>
		
		<div class="col-md-4" align="center">
		<%= image_tag("food.png", style: 'height:60%;width:60%;') %>
		<p> <b> FOOD </b></p>
		</div>

		<div class="row">
			<div class="col-md-12">

		<pre></pre>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">		
			</div>
			
			<div class="col-md-4", align="center">
			<%= image_tag("child.png", style: 'height:60%;width:50%;') %>
		<p> <b> CHILD DEVELOPMENT </b></p>	
			</div>
			
			<div class="col-md-4", align="center">
			<%= image_tag("inf.png", style: 'height:50%;width:50%;') %>
		<p> <b> INFRASTRUCTURE </b></p>
			</div>
			
			<div class="col-md-2">		
			</div>
		</div>

		

	</div>